# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Poetry
.poetry/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Test output
.history/
learning/